@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaEleicao</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Style", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid nav-content">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SistemaEleicao</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (Context.Session.GetString("Id") == null)
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item botao-link">
                                <a class="btn btn-outline-success" asp-area="" asp-controller="Home" asp-action="Login">Entrar</a>
                            </li>
                            <li class="nav-item botao-link">
                                <a class="btn btn-outline-light" asp-area="" asp-controller="Home" asp-action="Cadastro">Cadastrar</a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="nav navbar-nav">
                            <li class="nav-item ">
                                <form class="form-inline my-2 my-lg-0" action="/busca?input=">
                                    <input required class="form-control mr-sm-2 form-busca" type="search" placeholder="Pesquisar eleição" aria-label="Pesquisar eleição" name="input">
                                    <button class="btn btn-outline-success my-2 my-sm-0 botao-busca" type="submit">Buscar</button>
                                </form>
                            </li>
                        </ul>
                    </div>

                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item botao-link">
                                <a class="btn btn-outline-light" asp-area="" asp-controller="ListaVotos" asp-action="MeusVotos">Meus Votos</a>
                            </li>
                            <li class="nav-item botao-link">
                                <a class="btn btn-outline-light" asp-area="" asp-controller="ListaEleicao" asp-action="MinhasEleicoes">Minhas Eleições</a>
                            </li>
                            <li class="nav-item dropdown drop-usuario">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Context.Session.GetString("Nome")
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="MeuPerfil">Minha Conta</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Logout">Sair</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="d-flex justify-content-center div-footer">
            &copy; 2020 - SistemaEleicao - Todos os direitos reservados.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
