@model SistemaEleicao.Models.PageModels.Candidaturas

@{
    ViewData["Title"] = "Candidaturas";
}

@section Style {
    <link rel="stylesheet" href="~/css/candidaturas.css" />
}

@section Scripts {
    <script src="~/js/candidaturas.js"></script>
}

<div class="text-center">
    <h1 class="display-4">@Model.Eleicao.Titulo</h1>
    <h2>Candidatos para @Model.Cargo.Nome</h2>
</div>

<div class="text-center row botao-criar">
    <div class="text-left col-md-6">
        <a type="button" class="btn btn-secondary" href="@Url.Action("PainelEleicao", "PainelEleicao", new { id = Model.Eleicao.CodEleicao })">Voltar ao Painel</a>
    </div>

    <div class="text-right col-md-6">
        <a type="button" class="btn btn-outline-success" href="@Url.Action("CadastrarCandidatura", "Candidatura", new { id = Model.Eleicao.CodEleicao, cargoId = Model.Cargo.CodCargo })">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
            </svg>
            Registrar nova candidatura
        </a>
    </div>
</div>

@if (Model.Candidatos.Count() == 0)
{
    <div class="text-center sem-candidatura">
        <h3>
            <small class="text-muted">Este cargo ainda não possui candidaturas.</small>
        </h3>
    </div>
}
else
{
    <div class="row">
        @foreach (var candidato in Model.Candidatos)
        {
            <div class="card col-md-4" style="width: 18rem;">
                <img src="~/media/@candidato.Imagem" class="card-img-top imagem-candidato" alt="@candidato.Imagem" asp-append-version="true">
                <div class="card-body">
                    <h5 class="card-title">@candidato.Nome</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@candidato.GrupoPartido</h6>
                    <p class="card-text">@candidato.Descricao</p>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#delete-candidatura-modal" data-candidatonome="@candidato.Nome" data-candidatoid="@candidato.CodCandidato" data-id="@Model.Eleicao.CodEleicao" data-cargonome="@Model.Cargo.Nome" data-cargoid="@Model.Cargo.CodCargo">
                        Excluir
                    </button>
                </div>
            </div>
        }
    </div>
}

<!-- Modal Delete Candidatura -->
<div class="modal fade" id="delete-candidatura-modal" tabindex="-1" aria-labelledby="delete-candidatura-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Retirar Candidatura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Você tem certeza que deseja excluir este candidato?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a type="button" class="btn btn-primary" href="">Excluir</a>
            </div>
        </div>
    </div>
</div>